<header class="site-header">

  <div class="wrapper">

    <span class="site-title">
      <a class="page-link" href="https://ChesapeakeMLAstro.github.io/">Chesapeake ML-Astro</a>
    </span>

    <nav class="site-nav">
      
      <div class="trigger">
        <a class="page-link" href="/">home</a>
        <a class="page-link" href="/research/">research</a>
        <a class="page-link" href="/contact/">contact</a>
      </div>
    </nav>

  </div>

</header>
        </label>
    </nav>

  </div>

</header>
